<h1>Welcome to my shopping list</h1>

<form asp-action="AllCategories" asp-controller="Categories" method="get">
    <button type="submit" class="btn btn-primary">All Categories</button>
</form>

<form asp-action="AllProducts" asp-controller="Products" method="get">
    <button type="submit" class="btn btn-primary">All Products</button>
</form>


<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>