<div class="container">
    <div class="row">
        <div class="col-sm">
            <form asp-action="AllCategories" asp-controller="Categories" method="get">
                <button type="submit" class="btn btn-primary">Categories Menu</button>
            </form>
        </div>
        <div class="col-sm">
            <form asp-action="AllProducts" asp-controller="Products" method="get">
                <button type="submit" class="btn btn-info">Products Menu</button>
            </form>
        </div>
        <div class="col-sm">
            <form asp-action="AllShoppingLists" asp-controller="ShoppingLists" method="get">
                <button type="submit" class="btn btn-success">Shopping Lists Menu</button>
            </form>
        </div>
    </div>
</div>

